@import '../../../assets/styles/variables.sass'

.login-container
  display: flex
  align-items: center

  .login-card
    width: 300px

    .title
      margin-bottom: $spacing-xlg

    .email-field,
    .password-field
      margin-bottom: $spacing-lg
